:focus {
	outline: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

BODY {
	color: #333;
	background: #fdfdfd;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0;
}

BODY.no-scroll {
	overflow: hidden;
}

A {
	cursor: pointer;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

th {
	font-weight: normal;
}

th, td {
	padding: 5px;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: inherit;
	font-weight: inherit;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
	font-variant: normal;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

legend {
	color: #000;
}

input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

select, input, button, textarea, button {
	font: 99% 'Proxima Nova', helvetica, clean, sans-serif;
}

pre, code, kbd, samp, tt {
	font-family: monospace;
	line-height: 100%;
}

strong, dt {
	font-weight: normal;
	font-family: 'Proxima Nova Bold', sans-serif;
}

optgroup {
	font-weight: normal;
}

ol li {
	list-style: decimal outside;
}

ul li {
	list-style: disc outside;
}

p, fieldset, table, pre {
	margin-bottom: 10px;
}

.dropdown_block {
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.cb {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	float: none;
	font-size: 0;
	width: auto;
	padding: 0;
	margin: 0;
}

::selection {
	background: #7fcdea;
}

::-moz-selection {
	background: #7fcdea;
}

::-webkit-selection {
	background: #7fcdea;
}

