/**
* Папки
*/

@dir-fonts: '../fonts/';



/**
* Цвета
*/

@count-colors: 20;

@c-1: #ffffff;		// main inverted
@c-2: #000000;		// main
@c-3: #565f64;		// labels
@c-4: #d69744;		// accent
@c-5: #00a2c4;		// link
@c-6: #50808a;		// less-link
@c-7: #dc692a;		// hover-link
@c-8: #b7b5c4;		// info-link
@c-9: #6dac00;		// positive
@c-10: #fdfdfd;		// background
@c-11: #8fc232;		// positive-background
@c-12: #fffdbe;		// attention
@c-13: #d1000a;		// alert
@c-14: #e2e2e2;		// div-light
@c-15: #eefcfd;		// item-hover
@c-16: #cccccc;		// light-grey
@c-17: #8fc232;		// badge-otpusk
@c-18: #57a5bb;		// badge-bol
@c-19: #d69744;		// badge-komand
@c-20: #666666;		// badge-uvol



/**
* Миксины
*/

.rounded(@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

// Box shadow mixin

.box-shadow(@shadow1) {
	-webkit-box-shadow: @shadow1;
	-moz-box-shadow: @shadow1;
	box-shadow: @shadow1;
}

.box-shadow(@shadow1, @shadow2) {
	-webkit-box-shadow: @shadow1, @shadow2;
	-moz-box-shadow: @shadow1, @shadow2;
	box-shadow: @shadow1, @shadow2;
}

.box-shadow(@shadow1, @shadow2, @shadow3) {
	-webkit-box-shadow: @shadow1, @shadow2, @shadow3;
	-moz-box-shadow: @shadow1, @shadow2, @shadow3;
	box-shadow: @shadow1, @shadow2, @shadow3;
}

.box-shadow(@shadow1, @shadow2, @shadow3, @shadow4) {
	-webkit-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
	-moz-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
	box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
}

.box-shadow(@shadow1, @shadow2, @shadow3, @shadow4, @shadow5) {
	-webkit-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4, @shadow5;
	-moz-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4, @shadow5;
	box-shadow: @shadow1, @shadow2, @shadow3, @shadow4, @shadow5;
}