@import "_vars";



/**
* Шрифты
*/

@font-face {
	font-family: 'Proxima Nova';
	src: url('@{dir-fonts}proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
	url('@{dir-fonts}proxima-nova-regular.svg') format('svg'),
	url('@{dir-fonts}proxima-nova-regular.woff') format('woff'),
	url('@{dir-fonts}proxima-nova-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('@{dir-fonts}proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
	url('@{dir-fonts}proxima-nova-bold.svg') format('svg'),
	url('@{dir-fonts}proxima-nova-bold.woff') format('woff'),
	url('@{dir-fonts}proxima-nova-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Web Symbols';
	src: url('@{dir-fonts}web-symbols-liga-regular.eot?#iefix') format('embedded-opentype'),
	url('@{dir-fonts}web-symbols-liga-regular.svg') format('svg'),
	url('@{dir-fonts}web-symbols-liga-regular.woff') format('woff'),
	url('@{dir-fonts}web-symbols-liga-regular.ttf') format('truetype');
}



/**
* Цвета
*
* На выходе мы имеем классы вида .c-1, .c-2, ... с единственным свойством color, соответствующим значению из _vars.less
*/

.define(@var) {
	@colorSet: 'c-@{var}';
}

.mixin-loop (@index) when (@index > 0) {
	.c-@{index} {
		.define(@index);
		color: @@colorSet;
	}

	.mixin-loop(@index - 1);
}

.mixin-loop(@count-colors);



/**
* Основные обозначения
*/

BODY {
	color: #333;
	background: #fff;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0;
}
