.dropdown {
	position: relative;
	z-index: 2;
	display: inline-block;
	vertical-align: top;
}

.dropdown_block {
	position: absolute;
	display: none;
	min-width: 50px;
	padding: 10px 15px;
	font-size: 16px;
	white-space: normal;
	margin: 10px 0 0 0;
	border: 1px solid #ccc;
	background: #fff;
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	IMG {
		cursor: pointer
	}
}

.dropdown.is-visible > .dropdown_block {
	display: block;
}



// Размеры

.dropdown__small > .dropdown_block {
	width: 200px;
}

.dropdown__default > .dropdown_block {
	width: 300px;
}

.dropdown__big > .dropdown_block {
	width: 400px;
}

.dropdown__giant > .dropdown_block {
	width: 500px;
}

.dropdown__giant > .dropdown_block {
	width: 580px;
}

.dropdown__huge > .dropdown_block {
	width: 660px;
}

.dropdown_block:before,
.dropdown_block:after {
	position: absolute;
	z-index: 2;
	bottom: 100%;
	margin-bottom: -0.75px;
	left: 20px;
	content: '';
	border: 10px solid;
	border-bottom-color: #fff;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.dropdown_block.min:before,
.dropdown_block.min:after {
	left: 8px;
}

.dropdown_block:before {
	z-index: 1;
	margin-bottom: 0;
	border-bottom-color: #ccc;
}

.dropdown_block.dropdown__list {
	padding: 5px 0;
}

.dropdown_block.dropdown__list ul {
	margin: 0;
	padding: 0;
}

.dropdown_block.dropdown__list li {
	list-style-type: none;
	margin: 0;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	color: #555f64;
	cursor: default;
	white-space: nowrap;
}

.dropdown_block.dropdown__list li:hover {
	background: #eefcfd;
}

.dropdown_block.dropdown__list li:before {
	content: '';
}

.dropdown_block.dropdown__list li.active {
	background: #555f64;
	color: #e2e2e2;
}

.dropdown_block.dropdown__list table {
	cursor: default;
	margin: 0;
}

.dropdown_block.dropdown__list tr:hover {
	background: #eefcfd;
}

.dropdown_block.dropdown__list tr.active {
	background: #555f64;
}

.dropdown_block.dropdown__list tr.active td {
	color: #e2e2e2;
}

.dropdown_block.dropdown__list table td:first-child {
	padding: 5px 5px 5px 20px;
	text-align: left;
}

.dropdown_block.dropdown__list table td:last-child {
	padding: 5px 20px 5px 5px;
	text-align: right;
}
