@import "_vars";

.radio-box {
    margin-bottom: 10px;
    font-size: 0;

    input {
        margin: 2px 0 0 0;
        vertical-align: top;
        height: auto;
    }

    label {
        display: inline-block !important;
        margin-left: 0;
        vertical-align: top;
        padding: 0;
        line-height: normal;
        padding-left: 7px;
        font-size: 16px;
    }
}