<!doctype html>
<html lang="ru" data-ng-app="mainModule">
    <head>
        <meta charset="UTF-8">
        <title>ActiGuide &mdash; Элементы формы</title>
        <link rel="stylesheet" href="out/style.min.css" />
        <script type="text/javascript" src="out/libs.min.js"></script>
        <script type="text/javascript" src="out/app.min.js"></script>

        <!--[if lte IE 9]>
        <script src="js/misc/jquery.placeholder.js" type="text/javascript"></script>
        <script>
        $(function () {
            $("input[placeholder], textarea[placeholder]").placeholder("#D7D7D7");
        });
        </script>
        <![endif]-->

    </head>
    <body>
	
    <div class="wrapper" data-ng-controller="TestFormCtrl">
		<section class="content">

            <!-- Заголовок -->
            <div class="m-box">
                <div class="box">
                    <h1 class="name-page">Элементы формы</h1>
                </div>
            </div>

            <div class="m-box">
                <div class="col-edge-2">
                    <div class="box">
                        <div class="input-block">
                            <label class="text-label" for="i2">Поле с курсором</label>
                            <input type="text" name="" value="" id="i2" class="t-input t-input__normal focus"/>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="box">
                        <div class="input-block">
                            <label class="text-label" for="i3">Неправильно заполненное</label>
                            <input type="text" name="" value="" id="i3" class="t-input t-input__normal invalid"/>
                            <div class="ng-error">Краткая и емкая причина ошибки</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-box m-big">
                <div class="col-edge-4 m-big">
                    <div class="box">
                        <p>Размеры полей ввода</p>
                        <div>
                            <input type="text" placeholder=":-)" class="t-input t-input__micro"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Малое" class="t-input t-input__mini"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Среднее" value="Текст" class="t-input t-input__medium disable" disabled />
                        </div>

                        <div>
                            <input type="text" placeholder="Нормальное" class="t-input t-input__normal"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Большое" class="t-input t-input__big disable" disabled />
                        </div>

                        <div>
                            <textarea class="t-input t-input__big" placeholder="Многострочное"></textarea>
                        </div>

                        <div class="m-normal">
                            <input class="t-input" placeholder="По ширине контейнера" />
                        </div>

                        <p>Общие для сервисов кастомные текстовые поля (собраны из полей стандартных размеров)</p>

                        <div class="ctrl-group m-small">
                            <date-field name="Date" data-ng-model="Model.Date"></date-field>
                        </div>

                        <div class="m-small">
                            <money-field name="Price" data-ng-model="Model.Price"></money-field>
                        </div>

                        <div class="ctrl-group m-small">
                            <money-field name="PriceKop" data-ng-model="Model.PriceKop" data-show-kop="true"></money-field>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group"  data-split-fields>
                                <span class="ctrl__sim1_left" data-js-placeholder="Number1">№</span>
                                <input type="text" name="Number1" class="t-input t-input__medium ctrl__sim1_left first">
                                <span class="ctrl__sim1_left" data-js-placeholder="Number2">№</span>
                                <input type="text" name="Number2" class="t-input t-input__mini ctrl__sim1_left last">
                            </div>
                        </div>

                        <div class="input-block ">
                            <div class="ctrl-group" data-split-fields>
                                <input class="t-input t-input__normal first" data-ng-model="Model.F" name="F" placeholder="Фамилия" data-modifier='["EnToRu","RegExpFilter:[^-`а-яА-ЯёЁ]"]' data-val-tip="фамилию" />
                                <input class="t-input t-input__normal" data-ng-model="Model.I" name="I" placeholder="Имя" data-modifier='["EnToRu","RegExpFilter:[^-`а-яА-ЯёЁ]"]' data-val-tip="имя" />
                                <input class="t-input t-input__normal last" data-ng-model="Model.O" name="O" placeholder="Отчество" data-modifier='["EnToRu","RegExpFilter:[^-`а-яА-ЯёЁ]"]' data-val-tip="отчество" />
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group" data-split-fields>
                                <input class="t-input t-input__mini ctrl__sim1 first" data-ng-model="Model.Value" data-modifier='["RegExpFilter:[^\\d]"]' maxlength="3"  name="Value">
                                <span class="ctrl__sim1" data-js-placeholder="Value">%</span>
                                <input class="t-input t-input__big last" data-ng-model="Model.Name" name="Name" placeholder="Название надбавки">
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group" data-split-fields>
                                <money-field name="Value2" data-ng-model="Model.Value2"></money-field>
                                <input class="t-input t-input__big last" data-ng-model="Model.Name2" name="Name2" placeholder="Название надбавки">
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group" data-split-fields>
                                <money-field name="Value2" data-ng-model="Model.Value2" data-show-kop="true"></money-field>
                                <input class="t-input t-input__big last" data-ng-model="Model.Name2" name="Name2" placeholder="Название надбавки">
                            </div>
                        </div>

                        <div class="input-block m-big">
                            <div class="ctrl-group m-micro" data-split-fields>
                                <input class="t-input t-input__bigger first" placeholder="Кем выдан">
                                <div class="ctrl-group dib last">
                                    <date-field name="Date" data-ng-model="Model.Date" data-group-ctrl="true"></date-field>
                                </div>
                            </div>
                        </div>

                        <p>Чекбоксы, радиобатоны</p>

                        <div class="m-big">
                            <div class="radio-box">
                                <input type="radio" name="a1" id="a1">
                                <label for="a1">Основной<br>длинный лейбл</label>
                            </div>
                            <div class="radio-box">
                                <input type="radio" name="a1" id="a2">
                                <label for="a2">Улучшенный</label>
                            </div>
                            <div class="radio-box">
                                <input type="checkbox" name="a3" id="a3">
                                <label for="a3">Доставка на дом</label>
                            </div>
                        </div>

                        <p>КЛАДР</p>

                        <kladr class="m-big" data-adress="Model.Address" data-label="Адрес"></kladr>

                        <p>Документ</p>

                        <div class="m-big" data-split-fields>
                            <div class="input-block ctrl-group m-micro">
                                <div class="custom-select custom-select__medium dib first">
                                    <select data-autofocus="Document_Series">
                                        <option>Паспорт гражданина РФ</option>
                                        <option>Военный билет</option>
                                    </select>
                                </div>
                                <input type="text" class="t-input t-input__mini" id="Document_Series" name="Document.Series" placeholder="Серия" />
                                <input type="text" class="t-input t-input__medium" id="Document_Number" name="Document.Number" placeholder="Номер" />
                            </div>

                            <div class="input-block ctrl-group m-micro">
                                <input type="text" class="t-input t-input__document first" placeholder="Кем выдан"  />
                                <date-field name="Date" data-ng-model="Model.Date" data-group-ctrl="true"></date-field>
                            </div>
                            <div class="input-block">
                                <input type="text" class="t-input t-input__document-code" placeholder="Код подразделения"  />
                            </div>
                        </div>

                        <p>Сплит-кнопки</p>

                        <div class="box-btn m-big">
                            <button class="btn">
                                Отпуск
                            </button>

                            <button class="btn btn__select btn__negative">
                                <span class="btn-ugl"></span>
                                Больничный
                            </button>

                            <button class="btn">
                                    Командировка
                            </button>

                            <button class="btn">
                                Невыход
                            </button>

                            <button class="btn btn__positive">
                                Премия
                            </button>
                        </div>

                        <p>Выпадающие списки</p>

                        <div class="custom-select m-small">
                            <select>
                                <option>1</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>

                        <div class="custom-select custom-select__micro m-small">
                            <select>
                                <option>Микро</option>
                            </select>
                        </div>

                        <div class="custom-select custom-select__small m-small ">
                            <select disabled>
                                <option>Малый</option>
                            </select>
                        </div>

                        <div class="custom-select custom-select__medium m-small">
                            <select>
                                <option disabled>Малый</option>
                                <option>Средний</option>
                                <option disabled>Большой</option>
                            </select>
                        </div>

                        <div class="custom-select custom-select__big m-small">
                            <select disabled>
                                <option>Большой</option>
                            </select>
                        </div>

                        <div class="custom-select custom-select__giant m-small">
                            <select>
                                <option>Огромный</option>
                            </select>
                        </div>

                        <div class="custom-select custom-select__full m-big">
                            <select>
                                <option>По ширине контейнера</option>
                            </select>
                        </div>

                        <p>Кнопки со списком ссылок</p>

                        <button class="btn btn__select btn__positive">
                            Обычный
                            <span class="btn-ugl"></span>
                            <ul class="select-dropdown nav-list">
                                <li><a href="">Пункт 1</a></li>
                                <li><a href="">Пункт 2</a></li>
                                <li><a href="">Пункт 3</a></li>
                            </ul>
                        </button>

                        <button class="btn btn__select">
                            Обычный
                            <span class="btn-ugl"></span>

                            <ul class="select-dropdown nav-list">
                                <li><a href="">Пункт 1</a></li>
                                <li><a href="">Пункт 2</a></li>
                                <li><a href="">Пункт 3</a></li>
                            </ul>
                        </button>
                    </div>
                </div>
            </div>
        
		</section>  
	</div>

    </body>
</html>

