<!doctype html>
<html lang="ru" data-ng-app="mainModule">
    <head>
        <meta charset="UTF-8">
        <title>ActiGuide &mdash; Элементы формы</title>
        <link rel="stylesheet" href="out/style.min.css" />
        <script type="text/javascript" src="out/libs.min.js"></script>
        <script type="text/javascript" src="out/app.min.js"></script>

    </head>
    <body>
	
    <div class="wrapper" data-ng-controller="FormDemoCtrl">
		<section class="content">

            <!-- Заголовок -->
            <div class="m-box">
                <div class="box">
                    <h1 class="name-page">Элементы формы</h1>
                </div>
            </div>

            <div class="m-box">
                <div class="col-2">
                    <div class="box">
                        <div class="input-block">
                            <label class="text-label" for="i2">Поле с курсором</label>
                            <input type="text" name="" value="" id="i2" class="t-input t-input__normal focus"/>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="box">
                        <div class="input-block">
                            <label class="text-label" for="i3">Неправильно заполненное</label>
                            <input type="text" name="" value="" id="i3" class="t-input t-input__normal invalid"/>
                            <div class="ng-error">Краткая и емкая причина ошибки</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-box">
                <div class="col-4">
                    <div class="box">
                        <p>Размеры полей ввода</p>
                        <div>
                            <input type="text" placeholder=":-)" class="t-input t-input__micro"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Малое" class="t-input t-input__mini"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Среднее" class="t-input t-input__medium"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Нормальное" class="t-input t-input__normal"/>
                        </div>

                        <div>
                            <input type="text" placeholder="Большое" class="t-input t-input__big"/>
                        </div>

                        <div>
                            <textarea class="t-input t-input__big" placeholder="Многострочное"></textarea>
                        </div>

                        <div class="m-normal">
                            <input type="text" name="" value="" placeholder="По ширине контейнера" class="t-input"/>
                        </div>

                        <p>Общие для сервисов кастомные текстовые поля (собраны из полей стандартных размеров)</p>

                        <div class="m-small">
                            <money-field name="Price" data-ng-model="Model.Price"></money-field>
                        </div>

                        <div class="ctrl-group m-small">
                            <money-field name="PriceKop" data-ng-model="Model.PriceKop" data-show-kop="true"></money-field>
                        </div>

                        <div class="input-block ">
                            <div class="ctrl-group" data-split-fields>
                                <input class="t-input t-input__normal first" data-ng-model="Model.F" name="F" placeholder="Фамилия" data-modifier='["EnToRu","RegExpFilter:[^-`а-яА-ЯёЁ]"]' data-val-tip="фамилию" />
                                <input class="t-input t-input__normal" data-ng-model="Model.I" name="I" placeholder="Имя" data-modifier='["EnToRu","RegExpFilter:[^-`а-яА-ЯёЁ]"]' data-val-tip="имя" />
                                <input class="t-input t-input__normal last" data-ng-model="Model.O" name="O" placeholder="Отчество" data-modifier='["EnToRu","RegExpFilter:[^-`а-яА-ЯёЁ]"]' data-val-tip="отчество" />
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group" data-split-fields>
                                <input class="t-input t-input__mini ctrl__sim1 first" data-ng-model="Model.Value" data-modifier='["RegExpFilter:[^\\d]"]' maxlength="3"  name="Value">
                                <span class="ctrl__sim1">%</span>
                                <input class="t-input t-input__big last" data-ng-model="Model.Name" name="Name" placeholder="Название надбавки">
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group" data-split-fields>
                                <money-field name="Value2" data-ng-model="Model.Value2"></money-field>
                                <input class="t-input t-input__big last" data-ng-model="Model.Name2" name="Name2" placeholder="Название надбавки">
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="ctrl-group m-micro" data-split-fields>
                                <input class="t-input t-input__bigger first" placeholder="Кем выдан">
                                <input class="t-input t-input__micro" placeholder="ДД">
                                <input class="t-input t-input__micro" placeholder="ММ">
                                <input class="t-input t-input__mini last" placeholder="ГГГГ">
                            </div>
                        </div>


                        <p>Выпадающие списки</p>

                        <div class="custom-select m-big">
                            <select>
                                <option>:-)</option>
                                <option>:-(</option>
                                <option>>:0</option>
                            </select>
                        </div>

                        <span class="btn btn__select btn__positive">
                            Обычный
                            <span class="btn-ugl"></span>
                            <ul class="select-dropdown nav-list">
                                <li><a href="#">Пункт 1</a></li>
                                <li>Пункт 2</li>
                                <li>Пункт 3</li>
                            </ul>
                        </span>

                        <span class="btn btn__select">
                            Обычный
                            <span class="btn-ugl"></span>

                            <ul class="select-dropdown nav-list">
                                <li><a href="#">Пункт 1</a></li>
                                <li>Пункт 2</li>
                                <li>Пункт 3</li>
                            </ul>

                        </span>
                    </div>
                </div>
            </div>
        
		</section>  
	</div>

    </body>
</html>

