<div class="dropdown" ng-class="{'is-visible':visible, 'reflect-hor':reflectHorizontal, 'reflect-ver':reflectVertical, 'small-wrap':smallWrap}">
	<div class="dropdown_caller">
		<span ng-bind-html="caller"></span>
	</div>
	<div ng-if="dynamic && !loaded" class="dropdown_container">
		<div class="spinner"></div>
	</div>
	<div ng-if="dynamic && loaded" class="dropdown_container">
		<span ng-bind-html="content"></span>
	</div>
	<div ng-show="!dynamic" class="dropdown_container" ng-transclude>
		{{content}}
	</div>
</div>