<div class="dropdown" ng-class="{'is-visible':visible, 'reflect-hor':reflectHorizontal, 'reflect-ver':reflectVertical, 'small-wrap':smallWrap}">
	<div class="dropdown_caller" ng-click="toggleDropdown()">
		<span ng-bind-html="caller"></span>
	</div>
	<div ng-if="dynamic" class="dropdown_container">
		<div ng-if="!loaded">
			<div class="spinner"></div>
		</div>
		<span ng-bind-html="content"></span>
	</div>
	<div ng-show="!dynamic" class="dropdown_container" ng-transclude>
		{{content}}
	</div>
</div>