<div class="popup" ng-class="{'is-visible': visible, 'no-title': !title, 'no-padding': noPadding, 'w-sidebar': menu}">

	<div class="popup_overflow pop-on-click"></div>

	<div class="popup_wrap pop-on-click">
		<div class="popup_inner-wrap" ng-style="{width: customWidth}">

			<div ng-if="!noCloseButton" class="close-button pop-on-click"></div>

			<div ng-if="title" class="popup_title"><h2>{{title}}</h2></div>

			<div ng-if="menu" class="popup_sidebar">
				<ul>
					<li ng-repeat="item in menu"
						ng-class="{'is-active': currentSection === item, 'hilite': item.type === 'hilite', 'divider': item.type === 'divider'}"
						ng-click="setSection()">{{item.title}}</li>
				</ul>
			</div>

			<!--<div ng-if="menu" class="popup_container">-->
				<!--<div ng-repeat="(target, section) in sections" ng-if="currentSection.section === target" class="section">-->
					<!--<div ng-if="section.loading">-->
						<!--<div class="spinner"></div>-->
					<!--</div>-->
					<!--<div ng-if="!section.loading">-->
						<!--<span ng-bind-html="section.content"></span>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<div ng-if="loading" class="popup_container">
				<div class="spinner"></div>
			</div>

			<div ng-show="!loading" class="popup_container" ng-transclude></div>

			<div class="clear-fix"></div>

		</div>
	</div>

</div>